/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  color: black !important; /* Mesma cor do texto do footer */
}
.navbar-custom {
  background-color: #589de4; /* Mesma cor do footer */
  color: black; /* Mesma cor do texto do footer */
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:hover,
.navbar-custom .nav-link {
  color: black !important; /* Supera estilos conflitantes */
  text-decoration: none; /* Remove sublinhado se existir */
}


.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: black; /* Garantir que os textos e links também tenham a mesma cor */
}

.navbar-custom .nav-link:hover {
  color: white; /* Cor de destaque ao passar o mouse */
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-index {
  width: 100%;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  background-color: #589de4;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  text-align: center; /* Centraliza o texto horizontalmente */
  display: flex; /* Para centralização flexível */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}
